# SSH config file 

Port 22
AuthorizedKeysFile .ssh/authorized_keys
Banner /etc/ssh/banner.txt

ChallengeResponseAuthentication no
ClientAliveInterval 900
ClientAliveCountMax 10

GSSAPIAuthentication yes
GSSAPICleanupCredentials no

HostKey /etc/ssh/ssh_host_ecdsa_key
HostKey /etc/ssh/ssh_host_ed25519_key
HostKey /etc/ssh/ssh_host_rsa_key

MaxAuthTries 6
PasswordAuthentication no
PermitRootLogin yes

PrintMotd no
Subsystem sftp	/usr/libexec/openssh/sftp-server
SyslogFacility AUTHPRIV
TCPKeepAlive yes
UsePAM yes
X11Forwarding no

AcceptEnv LANG LC_CTYPE LC_NUMERIC LC_TIME LC_COLLATE LC_MONETARY LC_MESSAGES
AcceptEnv LC_IDENTIFICATION LC_ALL LANGUAGE
AcceptEnv LC_PAPER LC_NAME LC_ADDRESS LC_TELEPHONE LC_MEASUREMENT
AcceptEnv XMODIFIERS



